# **Criando uma base de dados**

In [31]:
import pandas as pd
import numpy as np

treino= pd.read_csv("/content/train.csv", index_col= "PassengerId")

treino.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

#**Arrumando os dados**

**Excluindo Colunas**

In [32]:
exclui_coluna= ["Name", "Ticket", "Cabin", "Embarked", "Fare"]
treino.drop(columns= exclui_coluna, inplace= True)

treino.head()

             Survived  Pclass     Sex   Age  SibSp  Parch
PassengerId
1                   0       3    male 22.00      1      0
2                   1       1  female 38.00      1      0
3                   1       3  female 26.00      0      0
4                   1       1  female 35.00      1      0
5                   0       3    male 35.00      0      0

**Transformando categorico em discreto**

In [33]:
treino["Sex"]= treino["Sex"].replace(["male", "female"], [0, 1])
treino["Sex"].head()

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Sex, dtype: int64

**Trantando Numeros Nulos**

In [34]:
treino.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [35]:
# Age
def idade_mediana(df):
  mediana= df["Age"].median()
  df.update(df["Age"].fillna(mediana))
  return(df)

treino= idade_mediana(treino)
treino.head()

             Survived  Pclass  Sex   Age  SibSp  Parch
PassengerId
1                   0       3    0 22.00      1      0
2                   1       1    1 38.00      1      0
3                   1       3    1 26.00      0      0
4                   1       1    1 35.00      1      0
5                   0       3    0 35.00      0      0

**Separando o target da base de dados**

In [36]:
x= treino.iloc[:, 1:]
y= treino.iloc[:, 0:1]

#**Utilizando Auto-ML LazyPredict**

In [37]:
!pip install lazypredict==0.2.7

Requirement already satisfied: lazypredict==0.2.7 in /usr/local/lib/python3.6/dist-packages (0.2.7)
Requirement already satisfied: Click>=7.0 in /usr/local/lib/python3.6/dist-packages (from lazypredict==0.2.7) (7.1.2)

In [38]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.1, random_state= 1)

lazy= LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)

modelos, predicoes= lazy.fit(x_train, x_test, y_train, y_test)
modelos

100%|██████████| 30/30 [00:01<00:00, 23.63it/s]

                               Accuracy  ...  Time Taken
Model                                    ...
LogisticRegression                 0.79  ...        0.02
RandomForestClassifier             0.79  ...        0.22
LGBMClassifier                     0.79  ...        0.06
AdaBoostClassifier                 0.78  ...        0.10
ExtraTreesClassifier               0.77  ...        0.17
LabelSpreading                     0.77  ...        0.06
BaggingClassifier                  0.77  ...        0.04
PassiveAggressiveClassifier        0.77  ...        0.01
KNeighborsClassifier               0.77  ...        0.02
LabelPropagation                   0.77  ...        0.05
DecisionTreeClassifier             0.77  ...        0.01
LinearSVC                          0.76  ...        0.05
RidgeClassifierCV                  0.76  ...        0.01
LinearDiscriminantAnalysis         0.76  ...        0.02
CalibratedClassifierCV             0.76  ...        0.16
RidgeClassifier                    0.76  ...        0.02
ExtraTreeClassifier                0.74  ...        0.01
QuadraticDiscriminantAnalysis      0.74  ...        0.01
SVC                                0.74  ...        0.03
NuSVC                              0.74  ...        0.03
NearestCentroid                    0.73  ...        0.01
XGBClassifier                      0.74  ...        0.06
Perceptron                         0.72  ...        0.01
BernoulliNB                        0.71  ...        0.01
SGDClassifier                      0.70  ...        0.01
GaussianNB                         0.70  ...        0.02
CheckingClassifier                 0.59  ...        0.01
DummyClassifier                    0.51  ...        0.01

[28 rows x 5 columns]