# **Criando uma base de dados**

In [1]:
import pandas as pd
import numpy as np

treino= pd.read_csv("/content/train.csv")

treino.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

#**Arrumando os dados**

**Excluindo Colunas**

In [2]:
exclui_coluna= ["Name", "Ticket", "Cabin", "Embarked", "Fare", "PassengerId"]
treino.drop(columns= exclui_coluna, inplace= True)

treino.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

**Transformando categorico em discreto**

In [3]:
treino["Sex"]= treino["Sex"].replace(["male", "female"], [0, 1])
treino["Sex"].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

**Trantando Numeros Nulos**

In [4]:
treino.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [5]:
# Age
def idade_mediana(df):
  mediana= df["Age"].median()
  df.update(df["Age"].fillna(mediana))
  return(df)

treino= idade_mediana(treino)
treino.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    0  22.0      1      0
1         1       1    1  38.0      1      0
2         1       3    1  26.0      0      0
3         1       1    1  35.0      1      0
4         0       3    0  35.0      0      0

#**Utilizando Auto-ML H2O**

In [ ]:
!pip install h2o

**Modelo**

In [ ]:
import h2o
from h2o.automl import H2OAutoML

h2o.init()          # Conectar o h20

# Arrumando a base para o H2O
base_H2O= h2o.H2OFrame(treino)
base_H2O["Survived"]= base_H2O["Survived"].asfactor()          # Para Classificação

In [16]:
# Modelo
auto_ml_h2o= H2OAutoML(max_models=30, seed=1)
auto_ml_h2o.train(x= [i for i in base_H2O.columns if (i != "Survived")],   # Nome das colunas X
                  y= "Survived",                                           # Target
                  training_frame= base_H2O)                                # Base

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [23]:
# Mostrar os resultados
auto_ml_h2o.leaderboard

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_BestOfFamily_AutoML_20210213_172126,0.861593,0.422326,0.831203,0.187278,0.36179,0.130892
XGBoost_3_AutoML_20210213_172126,0.860435,0.433343,0.826909,0.190178,0.365848,0.133845
XGBoost_grid__1_AutoML_20210213_172126_model_1,0.85721,0.440443,0.833573,0.19073,0.369723,0.136695
StackedEnsemble_AllModels_AutoML_20210213_172126,0.857141,0.423676,0.826268,0.183468,0.362648,0.131514
XGBoost_1_AutoML_20210213_172126,0.856557,0.436951,0.830778,0.190226,0.368069,0.135475
GBM_4_AutoML_20210213_172126,0.856419,0.437945,0.83359,0.197297,0.367803,0.135279
GBM_3_AutoML_20210213_172126,0.856307,0.434265,0.835545,0.186799,0.366097,0.134027
GBM_grid__1_AutoML_20210213_172126_model_5,0.855727,0.431802,0.825624,0.188884,0.366906,0.13462
GBM_2_AutoML_20210213_172126,0.854965,0.431112,0.83412,0.19025,0.364995,0.133221
GBM_grid__1_AutoML_20210213_172126_model_1,0.8548,0.432974,0.819658,0.198087,0.367179,0.13482